.DS_Store
build/
Imagr.xcodeproj/xcuserdata/*
*.dmg
*.pkg
build-test.sh
com.grahamgilbert.Imagr.plist
Packages/
AutoNBI.py
FoundationPlist*
Imagr.xcodeproj/project.xcworkspace/xcuserdata/*
Imagr.xcodeproj/project.xcworkspace/xcshareddata/*
*.mk
rc.netboot
*.pyc
rc-imaging/custom

Imagr/post_test.py
Python.framework

Imagr_for_Recovery/imagr/Imagr.app
Imagr_for_Recovery/imagr.dmg
