build/
Imagr.xcodeproj/xcuserdata/*
*.dmg
*.pkg
build-test.sh
com.grahamgilbert.Imagr.plist
Packages/
AutoNBI.py
FoundationPlist*
Imagr.xcodeproj/project.xcworkspace/xcuserdata/*
config.mk
rc.netboot
*.pyc

Imagr/post_test.py
