build/
Imagr.xcodeproj/xcuserdata/*
*.dmg
*.pkg
build-test.sh
com.grahamgilbert.Imagr.plist
Packages/
AutoNBI.py
FoundationPlist*
Imagr.xcodeproj/project.xcworkspace/xcuserdata/*
*.mk
rc.netboot
*.pyc
rc-imaging/custom

Imagr/post_test.py
Python.framework

