<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>password</key>
	<string>278c0c9360772fc0ab2f25c7bcafdd2579e3aa05ba4041abbf30d0ebe4c9b8b1b56f4b1ba822ccf32072e3ac443b14b49d99fa1201b02011fd486078d83b3cde</string>
	<key>workflows</key>
	<array>
		<dict>
			<key>name</key>
			<string>Yosemite Upgrade - Aggressive</string>
			<key>description</key>
			<string>Erases target volume, then deploys a 10.10.3 image with Munki Tools and its configuration.</string>
			<key>restart_action</key>
			<string>restart</string>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>eraseVolume</string>
				</dict>
				<dict>
					<key>type</key>
					<string>package</string>
					<key>url</key>
					<string>http://repo.sacredsf.org/munki/imagr/InstallYosemite-10.10.3.dmg</string>
					<key>first_boot</key>
					<false/>
				</dict>
				<dict>
					<key>type</key>
					<string>package</string>
					<key>url</key>
					<string>http://repo.sacredsf.org/munki/imagr/Profile-ManagedInstalls-10.10Signed-2.5.pkg</string>
					<key>first_boot</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Attempted Formatting</string>
			<key>description</key>
			<string>Partition into &quot;First&quot; + &quot;Second&quot;, set &quot;First&quot; as target, install package</string>
			<key>restart_action</key>
			<string>none</string>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>partition</string>
					<key>map</key>
					<string>GPTFormat</string>
					<key>partitions</key>
					<array>
						<dict>
							<key>format_type</key>
							<string>Journaled HFS+</string>
							<key>name</key>
							<string>First</string>
							<key>size</key>
							<string>50%</string>
							<key>target</key>
							<true/>
						</dict>
						<dict>
							<key>format_type</key>
							<string>Journaled HFS+</string>
							<key>name</key>
							<string>Second</string>
							<key>size</key>
							<string>50%</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>package</string>
					<key>url</key>
					<string>http://repo.sacredsf.org/munki/imagr/Profile-ManagedInstalls-10.10Signed-2.5.pkg</string>
					<key>first_boot</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Attempted Formatting 2</string>
			<key>description</key>
			<string>Partition into &quot;First&quot;, install package</string>
			<key>restart_action</key>
			<string>none</string>
			<key>bless_target</key>
			<false/>
			<key>components</key>
			<array>
				<dict>
					<key>type</key>
					<string>partition</string>
					<key>map</key>
					<string>GPTFormat</string>
					<key>partitions</key>
					<array>
						<dict>
							<key>format_type</key>
							<string>Journaled HFS+</string>
							<key>name</key>
							<string>Macintosh HD</string>
							<key>target</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>type</key>
					<string>package</string>
					<key>url</key>
					<string>http://repo.sacredsf.org/munki/imagr/Profile-ManagedInstalls-10.10Signed-2.5.pkg</string>
					<key>first_boot</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
